matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.0
pdfplumber==0.10.4
Pillow==10.2.0
pyautogui==0.9.54
python_dateutil==2.8.2
Requests==2.31.0
scikit_learn==1.4.1.post1
selenium==4.17.2
webdriver_manager==4.0.1
