matplotlib==3.9.1.post1
numpy==2.0.1
pandas==2.2.2
pdfplumber==0.11.3
Pillow==10.4.0
pyautogui==0.9.54
python_dateutil==2.9.0.post0
Requests==2.32.3
scikit_learn==1.5.1
selenium==4.23.1
webdriver_manager==4.0.2
