matplotlib==3.9.0
numpy==2.0.0
pandas==2.2.2
pdfplumber==0.11.1
Pillow==10.4.0
pyautogui==0.9.54
python_dateutil==2.9.0.post0
Requests==2.32.3
scikit_learn==1.5.0
selenium==4.22.0
webdriver_manager==4.0.1
